@font-face {
  font-family: "SuperNormalFont";
  src: url("/fonts/SuperNormal-xRoj5.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  background: linear-gradient(to right, #0a192f, #112240);
  font-family: "SuperNormalFont", sans-serif;

}