/* STYLING FOR THE GUESS LIST COMPONENT */
.guess-list {
    color: #3490c2;
    padding: 0.7rem;
    background-color: #1b3a4b;
    border: 5px solid #3490c2;
    border-radius: 50px;
    font-size: 1.2rem;
    overflow-y: auto;
    max-height: 20vh;
    width: 20vw;
}

/* STYLING FOR THE MAP COMPONENT - STYLING FOR THE MAP LAYERS FOR COUNTRY STYLING CAN BE FOUND IN MAP.TSX */
.map {
    border: 5px solid #3490c2;
    border-radius: 10px;
    box-shadow: 0 4p x 8px rgba(0, 0, 0, 0.2) ;
    height: 80vh;
    width: 80vw;
    max-height: 100vhvh;
    max-width: 70vw;
    overflow: hidden;
}

/* STYLING FOR THE STREAKKEEPER COMPONENT */
.streakKeeper {
    width: 10vw;
    color: #3490c2;
    padding: 0.7rem;
    background-color: #1b3a4b;
    border: 5px solid #3490c2;
    border-radius: 50px;
    overflow-y: auto;
    height: 5vh;
    font-size: 1.2rem;
    

}

/* STYLING FOR THE TEXT WITHIN THE STREAKKEEPER */
.streakKeeper h1 {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}

/* STYLING FOR THE SUBMIT BUTTON */
.SubmitButton button {
    
    padding: 10px 20px;
    background-color: #1b3a4b;
    color: #3490c2;
    border: 3px solid #3490c2;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: SuperNormalFont;
    text-transform: uppercase;
}

/* STYLING FOR THE HOME PAGE TITLE */
.HomePageTitle {
    color: #1b3a4b;
    font-size: 4rem;
    text-align: center;
    font: bolder;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
    overflow-y: auto;
    max-width: fit-content;
}

/* STYLING FOR THE POPUP THAT APPEARS AFTER START GAME BUTTON HAS BEEN PRESSED */
.difficultyPopup {
    position: fixed;
    margin-top: 20rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1b3a4b;
    padding: 1rem;
    border: 1px black;
    box-shadow: 0.5px 1px 1px 2px #3490c2;
    z-index: 1000;
}

.difficultyPopup button {
    padding: 10px 20px;
    background-color: #1b3a4b;
    color: #3490c2;
    border: 3px solid #3490c2;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: SuperNormalFont;
    text-transform: uppercase;
}

/* STYLING FOR THE POPUP MESSAGE AT THE START OF GAME.TSX */
.PopupMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #112240;
    padding: 1rem;
    border: 1px black;
    box-shadow: 0.5px 1px 1px 2px white;
    z-index: 1000;
    color: #3490c2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* STYLING FOR THE BUTTON WITHIN THE POPUP MESSAGE OF GAME.TSX */
.PopupMessage button {
    margin-right: 0.1rem;
    cursor: pointer;
    color: #3490c2;
    background-color: #1b3a4b;
}

/* STYLING FOR THE POPUP MESSAGE AT THE START OF GAME.TSX */
.hintPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #112240;
    padding: 1rem;
    border: 1px black;
    box-shadow: 0.5px 1px 1px 2px white;
    z-index: 1000;
    color: #3490c2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hintPopup button {
    margin-right: 0.1rem;
    cursor: pointer;
    color: #3490c2;
    background-color: #1b3a4b;
}

.buttonContainer {
    display: flex;
    gap: 0.5rem; /* Adds spacing between buttons */
}


.finishButton button {
    padding: 10px 20px;
    background-color: #1b3a4b;
    color: #3490c2;
    border: 3px solid #3490c2;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: SuperNormalFont;
    text-transform: uppercase;
}

.beginButton button{
    padding: 10px 20px;
    margin-bottom: 2rem;
    background-color: #1b3a4b;
    color: #3490c2;
    border: 3px solid #3490c2;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: SuperNormalFont;
    text-transform: uppercase;
}

.scoreboardButton button {
    padding: 10px 20px;
    background-color: #1b3a4b;
    color: #3490c2;
    border: 3px solid #3490c2;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: SuperNormalFont;
    text-transform: uppercase;
}

/* CSS for the Scoreboard Page */
.scoreboard {

    text-align: center;
    padding: 2rem;
    border: 3px solid #1b3a4b;
}

.scoreboard h1 {
    color: #3490c2;
    text-decoration: underline;
}

.scoreboard table {
    width: 100%;
    margin: 20px auto;
    border-collapse: "collapse";
    border: 2px solid #1b3a4b;
}

.scoreboard table tr {
    color: #3490c2;
}

.scoreboard table th {
    border: 2px solid #3490c2;
}

.scoreboard table td {
    padding: auto;
    border: 2px solid #1b3a4b;
}

.returnButton button{
    padding: 10px 20px;
    margin-bottom: 2rem;
    background-color: #1b3a4b;
    color: #3490c2;
    border: 3px solid #3490c2;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: SuperNormalFont;
    text-transform: uppercase;
}