.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr; /* This splits the page into to sections*/
    gap: 1rem; /* Space between sections */
    height: 100vh; 
    width: 100vw;
    overflow: hidden;
  }

  .left-content, .right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .left-content {
    background-color: #0a192f;

  }
  
  .right-content {
    background-color: #112240
  }